{% extends 'user/layout.html' %}
{% block title %} Home page | {{block.super}} {% endblock %}
{% block content %}

<section>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="jumbotron text-center">
                        <h1 class="text-center">User Dashboard</h1>
                        <span><a href="/login-page" class="btn btn-info">Login</a></span>
                        <span><a href="/register-page" class="btn btn-info">Register</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3 mt-3 mb-3 text-white" style="background-color: #2d2b2d;">
                    <div class="card-header text-center">
                        <p class="lead">User Administration</p>
                    </div>
                    <div class="card-body text-center">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure eveniet adipisci repellat, temporibus ad molestias placeat vero quos officiis voluptas sed laudantium laborum quis perspiciatis rem. Eaque maxime voluptas deleniti.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit et harum iure accusamus natus dolorum quaerat eligendi odio asperiores pariatur dolore, eos quae quasi dolores. Mollitia libero ducimus voluptate accusamus?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 mt-3 mb-3 text-white" style="background-color: #2d2b2d;">
                    <div class="card-header text-center">
                        <p class="lead">User Administration</p>
                    </div>
                    <div class="card-body text-center">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure eveniet adipisci repellat, temporibus ad molestias placeat vero quos officiis voluptas sed laudantium laborum quis perspiciatis rem. Eaque maxime voluptas deleniti.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit et harum iure accusamus natus dolorum quaerat eligendi odio asperiores pariatur dolore, eos quae quasi dolores. Mollitia libero ducimus voluptate accusamus?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 mt-3 mb-3 text-white" style="background-color: #2d2b2d;">
                    <div class="card-header text-center">
                        <p class="lead">User Administration</p>
                    </div>
                    <div class="card-body text-center">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure eveniet adipisci repellat, temporibus ad molestias placeat vero quos officiis voluptas sed laudantium laborum quis perspiciatis rem. Eaque maxime voluptas deleniti.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit et harum iure accusamus natus dolorum quaerat eligendi odio asperiores pariatur dolore, eos quae quasi dolores. Mollitia libero ducimus voluptate accusamus?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}